{% extends 'base.html' %} {% block content %}
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">We <span><3 </span> people who code</h1>
    <p class="hero-paragraph">
      We build products that empower developers and connect them to solutions
      that enable productivity, growth, and discovery.
    </p>
    <div class="hero-options">
      <a
        href="https://chat.openai.com/chat#"
        class="btn btn-developers"
        target="_blank"
        >ChatGPT</a
      >
      <a
        href="https://www.rgu.ac.uk/study/academic-schools/school-of-computing"
        class="btn btn-developers"
        style="margin-left: 5px"
        target="_blank"
        >School Of Computing</a
      >
      <a
        href="{% url 'stackbase:question-list' %}"
        class="btn btn-developers"
        style="margin-left: 5px"
        target="_blank"
        >Latest Questions</a
      >
    </div>
  </div>
</section>

<section class="for-developers">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">For students, by students</h2>
      <div class="section-line"></div>
      <p class="section-description">
        Soc Ask is an <a href="#">open community</a> for anyone that codes. We
        help you get answers to your toughest coding questions, share knowledge
        with your coworkers in private, and find your next dream job.
      </p>
    </div>
    <div class="options">
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/public-qa.svg?v=d82acaa7df9f"
            alt="Public Q & A"
          />
        </div>
        <div class="option-title">Public Q&A</div>
        <div class="option-description">
          Get answers to your questions and give back by sharing your knowledge
          with others.
          <a href="{% url 'register' %}">Sign up</a> for an account.
        </div>
        <div class="option-button">
          <a
            href="{% url 'stackbase:question-list' %}"
            class="option-link btn btn-dark-blue"
          >
            Browse questions
          </a>
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/private-qa.svg?v=2c1de180b6d7"
            alt="Private Q & A"
          />
        </div>
        <div class="option-title">Learn and Upskill</div>
        <div class="option-description">
          Level up with courses while you study. W3 schools is a platform you
          can learn multiple programming languages to become a better developer
          and student.
        </div>
        <div class="option-button">
          <a
            href="https://www.w3schools.com/"
            class="option-link btn btn-dark-blue"
            target="_blank"
          >
            Try W3 Schools
          </a>
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/jobs.svg?v=931d6c0863ee"
            alt="Browse jobs
"
          />
        </div>
        <div class="option-title">Latest Tech News</div>
        <div class="option-description">
          Stay up to date on the latest tech news and developments in the
          industry. See what some of the largest companies are up to and new
          innovations!
        </div>
        <div class="option-button">
          <a
            href="https://techcrunch.com/?guccounter=1"
            class="option-link btn btn-dark-blue"
            target="_blank"
          >
            Click Me
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="for-businesses">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">For SOC, by students</h2>
      <div class="section-line"></div>
      <p class="section-description">
        Our mission is to help students write the script of the future. This
        means helping you gain relevant knowledge and providing you the tools
        they need to share knowledge and collaborate effectively.
      </p>
    </div>

    <div class="options">
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/private-questions.svg?v=a4f1cfb08f7e"
            alt="Private Q&A"
          />
        </div>
        <div class="option-description">
          Host your own paid tutorials!. Feature will be rolled out in next
          release. Watchout!
          <a href="#" class="option-link">Be notified</a>
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3"
            alt="Talent solutions"
          />
        </div>
        <div class="option-description">
          Quickly find and share internal knowledge with
          <a href="{% url 'stackbase:question-list' %}" class="option-link"
            >Private Q&A</a
          >
        </div>
      </div>
      <div class="option">
        <div class="option-icon">
          <img
            src="https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02"
            alt=" Advertising platform"
          />
        </div>
        <div class="option-description">
          Accelerate the discovery of new information for SOC
          <a href="https://www.rgu.ac.uk/" class="option-link">RGU </a>students
        </div>
      </div>
    </div>
  </div>
</section>

<section class="teams">
  <div class="container">
    <div class="teams-head">
      <h2 class="teams-title">Unlock all features with SOC Ask</h2>
      <p class="teams-description">
        Learn, collaborate, Tutorials, badge, ask and answer questions. Our
        question and answer format is a proven approach for accessing the right
        information in less time.
      </p>
      <div class="teams-details">
        <a href="#" class="btn btn-dark-blue">Learn More</a>
      </div>
    </div>

    <div class="teams-plan">
      <div class="card card-basic">
        <div class="card-header">
          <h2 class="plan-type">Basic</h2>
          <p class="plan-description">Private knowledge base for teams</p>
        </div>
        <div class="card-body">
          <div class="plan-price">
            <div class="price">Free</div>
            <span class="per">Available to all SOC students</span>
          </div>
          <div class="plan-features">
            <div class="plan-feature">
              <i class="far fa-calendar-alt"></i>
              <span class="plan-text">Free 30 day trial</span>
            </div>
            <div class="plan-feature">
              <i class="fab fa-keycdn"></i>
              <span class="plan-text">Ask and answer questions</span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-archive"></i>
              <span class="plan-text"
                >Fully searchable archive of questions</span
              >
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-card">Get started for free</a>
        </div>
      </div>

      <div class="card card-business">
        <div class="card-most-used">
          <span>MOST USED</span>
          <i class="fas fa-city"></i>
        </div>
        <div class="card-header">
          <h2 class="plan-type">SOC Pro</h2>
          <p class="plan-description">
            Access to past tutorial videos on various subjects
          </p>
        </div>
        <div class="card-body">
          <div class="plan-price">
            <div class="price">$4 USD</div>
            <span class="per">monthly subscription</span>
          </div>
          <div class="plan-features">
            <div class="plan-feature">
              <i class="fas fa-key"></i>
              <span class="plan-text">Single sign-on (SSO) with SAML</span>
            </div>
            <div class="plan-feature">
              <i class="far fa-chart-bar"></i>
              <span class="plan-text">Early Access to new features</span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-plus-square"></i>
              <span class="plan-text">Priority customer support</span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-star"></i>
              <span class="plan-text">99.5% uptime </span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-plus"></i>
              <span class="plan-text">All the features of Basic tier</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-card">Get started</a>
        </div>
      </div>

      <div class="card card-enterprise">
        <div class="card-header">
          <h2 class="plan-type">Creator</h2>
          <p class="plan-description">
            Access to host paid tutorial sessions for students, creator badge,
            and increased priviledges.
          </p>
        </div>
        <div class="card-body">
          <div class="plan-price">
            <div class="price">$10 USD</div>
            <span class="per">monthly subscription</span>
          </div>
          <div class="plan-features">
            <div class="plan-feature">
              <i class="fas fa-key"></i>
              <span class="plan-text">Host paid tutorials</span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-mountain"></i>
              <span class="plan-text"
                >Access to creator badge for ease of recognition
              </span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-code"></i>
              <span class="plan-text">Early access to new features</span>
            </div>
            <div class="plan-feature">
              <i class="fas fa-user"></i>
              <span class="plan-text"
                >Your own product and we only get 15%</span
              >
            </div>
            <div class="plan-feature">
              <i class="fas fa-star"></i>
              <span class="plan-text"
                >99.5% uptime SLA and priority support</span
              >
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-card">Request a demo</a>
        </div>
      </div>
    </div>

    <div class="teams-footer">
      <a class="teams-footer-item">
        <img
          src="https://cdn.sstatic.net/Img/product/teams/endorsements/g2.svg?v=670bf9279910"
          alt=""
        />
        <div class="teams-footer-text">
          <strong>Leader</strong> <span>Summer 2020</span>
        </div>
      </a>
      <a class="teams-footer-item">
        <img
          src="https://cdn.sstatic.net/Img/product/teams/endorsements/g2.svg?v=670bf9279910"
          alt=""
        />
        <div class="teams-footer-text"><strong>Users Love Us</strong></div>
      </a>
      <a class="teams-footer-item">
        <img
          src="https://cdn.sstatic.net/Img/product/teams/endorsements/fastco.svg?v=5ebc802a76c7"
          alt=""
        />
        <div class="teams-footer-text">
          <strong>Most Innovative Companies</strong> <span>2019</span>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="hire">
  <div class="container">
    <div class="hire-content">
      <div class="hire-item">
        <img
          src="https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3"
          alt=""
          class="hire-icon"
        />
        <h4 class="hire-item-title">Get Answers to questions</h4>
        <p class="hire-item-description">
          Increased expertise and better grades, everybody wins. We can also
          connect employers to highle reputable and technically astute community
          members
        </p>
        <a href="#" class="btn btn-dark-blue">SOC Ask Talent</a>
      </div>
      <div class="hire-item">
        <img
          src="https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02"
          alt=""
          class="hire-icon"
        />
        <h4 class="hire-item-title">SOC Learn</h4>
        <p class="hire-item-description">
          Use the world’s RGU's largest resource for SOC students to help you
          increase awareness and showcase your techical knowledge across a
          variety of subjects. You can organize paid tutorials
        </p>
        <a href="#" class="btn btn-dark-blue">SOC Ask Learning</a>
      </div>
    </div>
  </div>
</section>

<section class="questions">
  <div class="container">
    <div class="questions-content">
      <div class="questions-header">
        <h3 class="question-title">
          Questions are everywhere, answers are on Stack Overflow
        </h3>
      </div>
      <div class="questions-body">
        <div class="questions-body-items">
          <div class="questions-body-item" data-id="0">
            <img
              src="https://cdn.sstatic.net/Img/home/ask-a-question.svg?v=f4f2050b0297"
              alt=""
              class="question-item-icon"
            />
            <div class="question-item-text">Ask a question</div>
            <div class="question-arrow-right"></div>
          </div>
          <div class="questions-body-item" data-id="1">
            <img
              src="https://cdn.sstatic.net/Img/home/votes.svg?v=748a8f48a8e2"
              alt=""
              class="question-item-icon"
            />
            <div class="question-item-text">Vote on everything</div>
            <div class="question-arrow-right"></div>
          </div>
          <div class="questions-body-item" data-id="2">
            <img
              src="https://cdn.sstatic.net/Img/home/answer.svg?v=4cd8048a676c"
              alt=""
              class="question-item-icon"
            />
            <div class="question-item-text">Answer questions</div>
            <div class="question-arrow-right"></div>
          </div>
        </div>
        <div class="questions-body-item-content">
          <img
            src="https://cdn.sstatic.net/Img/home/illo-feats-vote.svg?v=9d2eb0efdc17"
            alt=""
            class="question-item-content-img"
          />
          <h4 class="question-item-content-text">
            Accept the answer which solved your problem to let others benefit
            from the valuable information.
          </h4>
          <a
            href="{% url 'register' %}"
            class="btn btn-dark-blue question-item-content-btn"
            >Create an account</a
          >
        </div>
        <div class="questions-body-items">
          <div class="questions-body-item" data-id="3">
            <img
              src="https://cdn.sstatic.net/Img/home/tags.svg?v=913379eb09eb"
              alt=""
              class="question-item-icon"
            />
            <div class="question-item-text">Tag your question</div>
            <div class="question-arrow-left"></div>
          </div>
          <div class="questions-body-item" data-id="4">
            <img
              src="https://cdn.sstatic.net/Img/home/accept.svg?v=27d5be078970"
              alt=""
              class="question-item-icon"
            />
            <div class="question-item-text">Accept a answer</div>
            <div class="question-arrow-left"></div>
          </div>
          <div class="questions-body-item" data-id="5">
            <img
              src="https://cdn.sstatic.net/Img/home/get-recognized.svg?v=3b339d9aa10c"
              alt=""
              class="question-item-icon"
            />
            <div class="question-item-text">Get recognized</div>
            <div class="question-arrow-left"></div>
          </div>
        </div>
      </div>
      <div class="questions-footer">
        <h3 class="question-title">Learn and grow with SOC Ask</h3>
        <div class="questions-grid">
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/developer.svg?v=b930de7967a7"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Write the script of the future</h4>
            <p class="grid-item-description">
              Get your coding questions answered to learn, build, and level up
              whether you’re beginning with <a href="#">JavaScript</a> or a
              <a href="#">React</a> professional.
            </p>
          </div>
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/open-source.svg?v=847b604fd2ab"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Support open source</h4>
            <p class="grid-item-description">
              Reach users of your project by following tags, answering newcomer
              questions, and empowering experts in the community.
              <a href="#"> Read the curl project creator’s story.</a>
            </p>
          </div>
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/advocate.svg?v=4b03cfb93502"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Acquire and share knowledge</h4>
            <p class="grid-item-description">
              Answer questions and gain insights from other students using your
              technology on SOC Ask.
            </p>
          </div>
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/career-switcher.svg?v=a41416ff19df"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Personal Profile</h4>
            <p class="grid-item-description">
              Create a profile that shows off your expertise and credentials to
              help you make your next move. Start your
              <a href="{% url 'profile' %}">Developer Story</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
